<html>
<head>
    <title>Search</title>
</head>
<body>
    <form action="/search/" method="get">
        Выберите город:
        <input type="text" name="city">
        <p><select size="4" name="guests">
            <option disabled>Выберите количество гостей:</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select></p>
        <p>Выберите желаемые даты бронирования</p>
        С <input value={{ now }} type="date" name = "in" />
        По <input value={{ now }} type="date" name = "out"/>
        <p><input type="submit" value="Поиск"></p>
    </form>
</body>
</html>
